extends ./templates/layout.pug

block content

    div.main(style="margin: 10% 10%;")
        <!-- Gridder navigation -->
        ul.gridder
            li.gridder-list(data-griddercontent="#content1")
                img(src="http://placehold.it/600x400")
            li.gridder-list(data-griddercontent="#content2")
                img(src="http://placehold.it/600x400")
            li.gridder-list(data-griddercontent="#content3")
                img(src="http://placehold.it/600x400")
        <!-- Gridder content -->
        div.gridder-content#content1(style="width:100%;") Content goes here... 
        div.gridder-content#content2 Content goes here... 
        div.gridder-content#content3 Content goes here... 


block footer
    link(href="/css/jquery.gridder.min.css" rel="stylesheet")
    script(src="js/jquery.gridder.min.js")
    script(src="js/arts_market.js")