doctype html 
html(lang="en") 
include ./templates/head.pug

head 
	title= "Arts Market" 
	
	
body 
	// Navbar + Splash
	div#navbar-full
		div#navbar
			include ./templates/navbar.pug

		div.blurred-container
			div.img-src(style="background-image: url('img/headers/Market.jpg')")
			div.img-src.blur(style="background-image: url('img/cover_4_blur.jpg')" ) <!-- image blur on scroll, custom.js -->
			div.cover.black(data-color="black")

	div(id="booths") 
		table
			tbody 
				tr
					td hello
					td world
					td meoww
					td lalal
				tr
					td meowa
					td ufufu
					td ohoho
					td sukoo