extends ./templates/layout.pug

block content
    div.main
        div.container-fluid 
            div.col-sm-10.col-sm-offset-1
                br
                br
                div
                    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                br
                    
                div#gridder-div            
                    <!-- Gridder navigation -->
                    ul.gridder
                        li.gridder-list(data-griddercontent="#content1")
                            div.calendarButton Sun/9th Oct 
                        li.gridder-list(data-griddercontent="#content2")
                            div.calendarButton Mon/10th Oct
                        li.gridder-list(data-griddercontent="#content3")
                            div.calendarButton Tues/11th Oct
                        li.gridder-list(data-griddercontent="#content4")
                            div.calendarButton Wed/12th Oct
                        li.gridder-list(data-griddercontent="#content5")
                            div.calendarButton Thurs/13th Oct
                        li.gridder-list(data-griddercontent="#content6")
                            div.calendarButton Fri/14th Oct
                        
                    <!-- Gridder content -->
                    div.gridder-content#content1 
                        img.calendarContent1(src="https://placekitten.com/1400/180")
                    div.gridder-content#content2 
                        img.calendarContent1(src="https://placekitten.com/1400/180")
                    div.gridder-content#content3
                        img.calendarContent1(src="https://placekitten.com/1400/180")
                    div.gridder-content#content4 
                        img.calendarContent1(src="https://placekitten.com/1400/180")
                    div.gridder-content#content5
                        img.calendarContent1(src="https://placekitten.com/1400/180")
                    div.gridder-content#content6 
                        img.calendarContent1(src="https://placekitten.com/1400/180")

                br
                br
                br
                br
                br
block scripts
    link(href="/css/jquery.gridder.min.css" rel="stylesheet")
    script(src="js/jquery.gridder.js")
    script(src="js/calendar.js")
    script(src="js/gridderFunction.js")