extends ./templates/layout.pug

block content
	div.main 
		div.container-fluid 
			div.col-sm-10.col-sm-offset-1
				br
				br
				div
					h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			//	
				table 
					tbody
						tr
							td.calendarButton Sun/9th Oct
							td.calendarButton Mon/10th Oct 
							td.calendarButton Tues/11th Oct
							td.calendarButton Wed/12th Oct 
							td.calendarButton Thurs/13th Oct 
							td.calendarButton Fri/14th Oct 
				table 
					tbody 
						tr 
							td.calendarContent1: img(src="https://placekitten.com/560/180")
							td.calendarContent2: img(src="http://placekitten.com/1680/180")