extends ./templates/layout.pug
	
block content
	div.main 
		div.container-fluid 
			div.col-sm-10.col-sm-offset-1 
				p For the first time, HASS professors with SUTD alumni will be paneling a dialogue session, for the local film "The Provision Shop" for Arts Fest! 		
				br 
				strong Provision Shop 
				br
				p: i Directed by Royston Tan
				br
				p The telemovie tells four stories revolving around a diverse community of locals and foreigners grappling with social tensions, and shows how through mutual understanding and respect, there will eventually be the openness to embrace change and diversity. 
				br
			div.col-sm-10.col-sm-offset-1 
				img(src="/img/FilmPanel.jpg" style="padding:20px;")
			br
			br
			div.col-sm-10.col-sm-offset-1
				p: strong Featuring panel (from left): <br> HASS Professors: Nazry, Paolo, Tara, Michael <br> SUTD Alumni: Jacob <br> Junior: Arjun 
				br
				p Catch the film screening and partake in critical conversation on themes such as Singapore, nostalgia and culture. 
				br
				p: strong October 12th, 3.30pm at Lecture Theatre 2 <br> Language: English and Mandarin <br> Running time: 100 minutes