extends ./templates/layout.pug

block content
    div.main
        div.container-fluid
            div.row
                div.col-sm-5.col-md-offset-1
                    h2 Singapore University of Technology and Design
                    p 8 Somapah Road, Singapore 487372
                    br
                    h2 Office of Student Life
                    p Tel: +65 6777 3777
                    p Email: schoolemail@sutd.edu.sg
                    br
                    h2 Arts Fest Planning Committee
                    p blah
                    br
                    p blah
                    br
                div.col-sm-5.col-md-offset-1
                    img(src="https://placekitten.com/500/600")
            div.row
                div.col-md-offset-1
                    a#backbutton(href="/#workshops") < Back to Main Menu