extends ./templates/layout.pug

block content
    div.main
        p THIS IS SOME CONTENT YO
        div(id="booths") 
        table
            tbody 
                tr
                    td hello
                    td world
                    td meoww
                    td lalal
                tr
                    td meowa
                    td ufufu
                    td ohoho
                    td sukoo