extends ./templates/layout.pug

block splash
    include ./templates/splashblur.pug
block content
    // GET SHIT DONE
    div.main#about
        div.container
            div.intro-header.text-left
                img.logoimg(src="img/green.png" alt="AF16")
                hr
                h1 (IM)POSSIBILITIES
                h2 we dare you to be passionate.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    div.space
        
        // All your masonry posts
        div.gallery-container
            div.row.no-gutters
                div.col-lg-12.col-md-12.col-xs-12
                    a.thumbnails(href="/calendar" style="width:100%;"): img.img-responsive(src="/img/carousel_blue.png" alt="" style="width:100%;")
                div.col-lg-4.col-md-4.col-xs-12
                    a.thumbnails(href="/#workshops"): div.hovereffect   
                        img.img-responsive(src="img/carousel_green.png" alt="") 
                        div.overlay
                            h2 WORKSHOPS
                div.col-lg-4.col-md-4.col-xs-12
                    a.thumbnails(href="/#performances"): div.hovereffect
                        img.img-responsive(src="/img/carousel_orange.png" alt="")
                        div.overlay
                            h2 PERFORMANCES
                    
                div.col-lg-4.col-md-4.col-xs-12
                    a.thumbnails(href="/#exhibition"): div.hovereffect
                        img.img-responsive(src="/img/carousel_red.png" alt="")
                        div.overlay
                            h2 EXHIBITION 
                div.col-lg-4.col-md-4.col-xs-12
                    a.thumbnails(href="/cinema"): div.hovereffect
                        img.img-responsive(src="/img/sfdesign.jpg" alt="")
                        div.overlay 
                            h2 FILM SCREENING 
                div.col-lg-4.col-md-4.col-xs-12
                    a.thumbnails(href="/arts_market"): div.hovereffect
                        img.img-responsive(src="/img/test.jpg" alt="")
                        div.overlay
                            h2 ARTS MARKET 
                div.col-lg-4.col-md-4.col-xs-12
                    a.thumbnails(href="#"): div.hovereffect
                        img.img-responsive(src="/img/test2.jpg" alt="")
                        div.overlay
                            h2 SHOP #DSBJ 

    div.full-img-divide
        img.over(src="img/whitefull2.png" alt="")

    div.posts-main
        div.posts-container#workshops
            h1(style="text-align:center;") Workshops

            div#grid
                div#posts
                    div.post
                        a(href="/workshop/silkscreening"): img(src="http://placehold.it/600x400")
                        br
                        br
                        strong Silkscreening
                        br
                        small Conducted by SUTDio
                    div.post
                        a(href="/workshop/crocheting"): img(src="http://placehold.it/400x600")
                        br
                        br
                        strong Crocheting
                        br
                        small Conducted by Anupama
                    div.post
                        a(href="/workshop/bacteriapainting"): img(src="http://placehold.it/600x400")
                        br
                        br
                        strong Bacteria Painting
                        br
                        small Conducted by GNomes
                    div.post
                        a(href="/workshop/spokenwordandpoetry"): img(src="http://placehold.it/400x600")
                        br
                        br
                        strong Spoken Word and Poetry
                        br
                        small Conducted by Stella Loo
                    div.post
                        a(href="/workshop/hennapainting"): img(src="http://placehold.it/400x600")
                        br
                        br
                        strong Henna Painting
                        br
                        small Conducted by Namaste
                    div.post
                        a(href="/workshop/rangoliart"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Rangoli Art
                        br
                        small Conducted by Namaste
                    div.post
                        a(href="/workshop/introductiontodrama"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Introduction to Drama
                        br
                        small Conducted by Drama Society
                    div.post
                        a(href="/workshop/bollywoodjazz"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Bollywood Jazz
                        br
                        small Conducted by Taal
                    div.post
                        a(href="/workshop/introductiontocontemporarydance"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Introduction to Contemporary Dance
                        br
                        small Conducted by Fluence
                    div.post
                        a(href="/workshop/funkstyle"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Funkstyle
                        br
                        small Conducted by Dance Funktion dF(x)
                    div.post
                        a(href="/workshop/waacking"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Waacking
                        br
                        small Conducted by Xiang Yi (R16 Waacking Singapore Top 8) 
                    div.post
                        a(href="/workshop/streetjazz"): img(src="http://placehold.it/400x600")
                        br 
                        br
                        strong Street Jazz
                        br
                        small Conducted by Ben Chia of Converge Dance Studios


    div.posts-main
        div.posts-container#performances
            h1(style="text-align:center;") Performances

            div#grid
                div#posts
                    div.post
                        img(src="http://placehold.it/1125x750")
                        br
                        br
                        strong Title Goes Here
                        br
                        small Category
                        
    div.posts-main
        div.posts-container#exhibition
            h1(style="text-align:center;") Exhibition

            div#grid
                div#posts
                    div.post
                        img(src="http://placehold.it/525x350")
                        br
                        br
                        strong Title Goes Here
                        br
                        small Category
                    div.post
                        img(src="http://placehold.it/525x350")
                        br
                        br
                        strong Title Goes Here
                        br
                        small Category
                    div.post
                        img(src="http://placehold.it/525x350")
                        br
                        br
                        strong Title Goes Here
                        br
                        small Category
                    div.post
                        img(src="http://placehold.it/525x350")
                        br
                        br
                        strong Title Goes Here
                        br
                        small Category

block scripts
    script(src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript")
    script(src="js/script.js")
    script(src="js/gsdk-checkbox.js")
    script(src="js/gsdk-radio.js")
    script(src="js/gsdk-bootstrapswitch.js")
    script(src="js/get-shit-done.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js")      