extends ./templates/layout.pug 

block content
    div.main


block scripts
    link(href="/css/jquery.gridder.min.css" rel="stylesheet")
    script(src="js/jquery.gridder.min.js")
    script(src="js/gridderFunction.js")
    script(src="js/boothThumb.js")