doctype html
html(lang="en")
    head
        block title
            title #{title}
        block head
            include ./head.pug

    body
        block navbar
            include ./navbar.pug
        block content
        block footer